# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Retake-test\2021-roda-template\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
